<svg
  xml:space="preserve"
  viewBox="0 0 100 100"
  y="0"
  x="0"
  xmlns="http://www.w3.org/2000/svg"
  id="圖層_1"
  version="1.1"
  style="shape-rendering: auto"
>
  <g
    class="ldl-scale"
    style="transform-origin: 50% 50%; transform: rotate(0deg) scale(0.8, 0.8)"
  >
    <g class="ldl-ani">
      <g class="ldl-layer">
        <g
          class="ldl-ani"
          style="
            transform: scale(0.91);
            transform-origin: 50px 50px;
            animation: 1.11111s linear -0.648148s infinite normal forwards running
              breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e;
          "
        >
          <path
            fill="#d96d6d"
            d="M80.954 32.286a21.347 21.347 0 0 0-6.287-3.619C64.229 24.79 51.463 35 51.463 35S40.667 25.333 29 28.667C17.334 32 13.447 44.335 13.447 54s4.255 18.415 11.135 24.749c4.124 3.797 9.195 6.716 14.854 8.453A40.958 40.958 0 0 0 51.463 89c10.498 0 20.002-3.918 26.881-10.251S89.478 63.665 89.478 54c0-7.622-1.976-16.268-8.524-21.714z"
            style="fill: rgb(217, 109, 109)"
          ></path>
        </g>
      </g>
      <g class="ldl-layer">
        <g
          class="ldl-ani"
          style="
            transform: scale(0.91);
            transform-origin: 50px 50px;
            animation: 1.11111s linear -0.740741s infinite normal forwards running
              breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e;
          "
        >
          <path
            fill="#603813"
            d="M57.371 16.326C61.345 10.9 67.246 9.305 73.85 8.03c1.826 1.932 2.314 4.131.601 6.721-5.797 1.207-11.11 1.931-15.034 6.365-2.106 2.379-3.818 5.097-5.109 7.997a33.65 33.65 0 0 0-1.605 4.419c-.45 1.571-.266 3.502-2.077 3.908-.428-3.254.711-7.385 1.605-10.478 1.098-3.801 2.799-7.44 5.14-10.636z"
            style="fill: rgb(96, 56, 19)"
          ></path>
        </g>
      </g>
      <g class="ldl-layer">
        <g
          class="ldl-ani"
          style="
            transform: scale(0.91);
            transform-origin: 50px 50px;
            animation: 1.11111s linear -0.833333s infinite normal forwards running
              breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e;
          "
        >
          <path
            fill="#009245"
            d="M49.508 18.25c-5.452-6.449-14.505-9.632-22.793-8.015-.29 1.714.243 3.466.995 5.033 3.061 6.378 10.108 10.618 17.176 10.337 1.455-.058 2.952-.285 4.339.159s2.612 1.861 2.226 3.265c1.548-3.632.517-7.869-1.943-10.779z"
            style="fill: rgb(0, 146, 69)"
          ></path>
        </g>
      </g>
      <g class="ldl-layer">
        <g
          class="ldl-ani"
          style="
            transform: scale(0.91);
            transform-origin: 50px 50px;
            animation: 1.11111s linear -0.925926s infinite normal forwards running
              breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e;
          "
        >
          <path
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-width="5.703"
            stroke="#fff"
            fill="#fff"
            d="M25.288 40.808c-3.976 3.161-5.271 11.547-3.838 14.855"
            style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255)"
          ></path>
        </g>
      </g>
      <g class="ldl-layer">
        <g
          class="ldl-ani"
          style="
            transform: scale(0.91);
            transform-origin: 50px 50px;
            animation: 1.11111s linear -1.01852s infinite normal forwards running
              breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e;
          "
        >
          <circle
            r="3.284"
            fill="#fff"
            cy="65.045"
            cx="24.784"
            transform="rotate(-34.925 24.783 65.045)"
            style="fill: rgb(255, 255, 255)"
          ></circle>
        </g>
      </g>
      <g class="ldl-layer">
        <g
          class="ldl-ani"
          style="
            transform: scale(0.91);
            transform-origin: 50px 50px;
            animation: 1.11111s linear -1.11111s infinite normal forwards running
              breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e;
          "
        >
          <path
            opacity=".2"
            d="M80.954 32.286A50.517 50.517 0 0 1 82 42.5c0 24.761-17.759 44.833-39.667 44.833-.976 0-1.94-.054-2.898-.132A40.937 40.937 0 0 0 51.463 89c10.498 0 20.002-3.918 26.881-10.251S89.478 63.665 89.478 54c0-7.622-1.976-16.268-8.524-21.714z"
            style=""
          ></path>
        </g>
      </g>
      <metadata xmlns:d="https://loading.io/stock/"></metadata>
    </g>
  </g>
  <style id="breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e" data-anikit="">
    @keyframes breath-f5b0cae2-0ef7-428c-ab07-76d6ea6ffc2e {
      0% {
        animation-timing-function: cubic-bezier(
          0.9647,
          0.2413,
          -0.0705,
          0.7911
        );
        transform: scale(0.9099999999999999);
      }
      51% {
        animation-timing-function: cubic-bezier(
          0.9226,
          0.2631,
          -0.0308,
          0.7628
        );
        transform: scale(1.02994);
      }
      100% {
        transform: scale(0.9099999999999999);
      }
    }
  </style>
  <!-- [ldio] generated by https://loading.io/ -->
</svg>
