
<div class="main-container">
    <tabs-group>

      <tab-item>
        <tab-label>{{translateData?.units}}</tab-label>
        <!-- <tab-actions>
          <food-items-actions></food-items-actions>
        </tab-actions> -->
        <tab-body>
            <unit-list></unit-list>
        </tab-body>
      </tab-item>

      <tab-item>
        <tab-label>{{translateData?.types}}</tab-label>
        <tab-body>
            <type-list></type-list>
        </tab-body>
      </tab-item>
    
    </tabs-group>
  </div>
  