.itm {
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;

  border: 1px solid rgb(236, 230, 230);

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  margin-bottom: 10px;
  padding-right: 10px;

  &:hover {
    &.not {
      padding-right: 45px;
    }
    .delete,
    .options {
      display: flex;
    }
  }

  &.show {
    padding-right: 35px;
  }
}

.delete {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(236, 230, 230);
  justify-content: center;
  align-items: center;
  width: 35px;

  &:hover {
    background-color: rgb(207, 198, 198);
  }

  &.show {
    display: flex;
  }

  i {
    font-size: 16px;
  }
}

.options {
  display: none;
  align-self: flex-end;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .ic {
    width: 25px;
    height: 25px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%),
      0 3px 1px -2px transparent, 0 1px 5px 0 rgb(145 145 145 / 12%);
    box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%), 0 3px 1px -2px transparent,
      0 1px 5px 0 rgb(145 145 145 / 12%);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 13px;
    }

    &:hover {
      background-color: rgb(207, 198, 198);
    }
  }
}

.quantity {
  width: 40px;
  height: 100%;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    padding: 6px 6px;
    height: 40px;

    text-align: center;

    border-radius: 0;
  }
}

.unit {
    margin-left: 20px;
  nz-select {
    border: 1px solid #ccc;
    width: 130px;

    border-top: 0;
    border-bottom: 0;

    height: 40px;


    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      border: 1px solid #1ab394;
    }
  }
}
