<div class="container">
  <div class="col st">
    <div class="mad">
      <presenter
        #recipeNamePresenter
        [title]="'الإسم'"
        [type]="'normal'"
        [editMood]="recipeNameEditMode"
        (onEdit)="recipeNameRequestEdit($event)"
        (onSave)="onSaveRecipeName($event)"
      >
        <div dataFelid class="select-wrapper">
          <input
            #phoneNumber
            lang="en"
            name="recipeNameControl"
            [formControl]="recipeNameControl"
            type="text"
          />
          <ng-container *ngIf="recipeNameEditMode">
            {{ phoneNumber.focus() }}
          </ng-container>
        </div>
      </presenter>
    </div>

    <div class="mad">
      <presenter
        #recipeTimePresenter
        [title]="'وقت التحضير'"
        [type]="'normal'"
        [editMood]="recipeTimeEditMode"
        (onEdit)="recipeTimeRequestEdit($event)"
        (onSave)="onSaveRecipeTime($event)"
      >
        <div dataFelid class="select-wrapper">
          <nz-time-picker (click)="recipeTimeEditMode = true" #timePicker
           [(ngModel)]="recipeTime"></nz-time-picker>
        </div>
      </presenter>
    </div>
  </div>

  <div class="col en">
    <div class="mad">
      <presenter
        #recipeDescPresenter
        [title]="'الوصف'"
        [type]="'normal'"
        [editMood]="recipeDescEditMode"
        (onEdit)="recipeDescRequestEdit($event)"
        (onSave)="onSaveRecipeDesc($event)"
      >
        <div dataFelid class="select-wrapper">
          <input
            #description
            lang="en"
            name="recipeDescControl"
            [formControl]="recipeDescControl"
            type="text"
          />
          <ng-container *ngIf="recipeDescEditMode">
            {{ description.focus() }}
          </ng-container>
        </div>
      </presenter>
    </div>
  </div>
</div>
