.icon-loading {
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    .apple {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
  
  .search {
    width: 100%;
    margin-bottom: 20px;
    direction: rtl;
  }