.container {
  position: absolute;
  top: 75px;

  // background-color: #ffff;
  background-color: #ee0d45d5;
  // padding: 20px 20px 10px;

  height: 90px;

  box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%), 0 3px 1px -2px transparent,
    0 1px 5px 0 rgb(145 145 145 / 12%);

  &.full-width {
    &.ltr {
      left: 220px;
      right: 0;
      .meta {
        left: 20px;
      }
      .date-location {
        right: 20px;
      }
    }
    &.rtl {
      right: 220px;
      left: 0;
      .meta {
        right: 20px;
        
      }
      .date-location {
        left: 20px;
      }
    }
  }

  &.min-width {
    &.ltr {
      left: 70px;
      right: 0;
      .meta {
        left: 20px;
      }
      .date-location {
        right: 20px;
      }
    }
    &.rtl {
      right: 70px;
      left: 0;

      .meta {
        right: 20px;
      }
      .date-location {
        left: 20px;
      }
    }
  }

  .meta,  .date-location{
    position: absolute;
    // top: 20px;
    // bottom: 20px;

    height: 100%;
    width: calc(50% - 20px);
  }
}

.flex{

  width: 100%;
  height: 100%;

  padding: 20px 0;
  // display: flex;

  &.r{
    text-align: right;
    &.right{
      text-align: left;
    }
  }

  &.l{
    text-align: left;
    &.right{
      text-align: right;
    }
  }
  
  .title{
    font-size: 24px;
    line-height: 1.3;
    color: #676a6c;
    color: #fff;
    
    // font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
  }
  .sub-title{
    font-size: 13px;
    line-height: 1.42857143;

    font-weight: 100;
    color: #888;
    color: #fff;


    overflow: hidden;
    white-space: nowrap;
  }

}
