.card-wrapper {
  width: 100%;
  background-color: white;

  -webkit-box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%),
    0 3px 1px -2px transparent, 0 1px 5px 0 rgb(145 145 145 / 12%);
  box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%), 0 3px 1px -2px transparent,
    0 1px 5px 0 rgb(145 145 145 / 12%);

  border-radius: 5px;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  padding: 20px 20px 15px 20px;

  .meta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: right;

    .title {
      font-weight: bolder;
    }
  }

  .actions {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nz-select {
      width: 70%;
    }
  }

  .icon {
    cursor: pointer;
    &:hover {
      color: #1ab394;
    }

    &.dl {
      color: #db4965;
    }
  }
}

.card-content {
  padding: 20px;
  padding-top: 0px;
  width: 100%;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .app-icon {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}

.app-it {
  height: 60px;

  margin-bottom: 20px;

  background-color: #f1f1f1;

  display: flex;
  flex-direction: row;
  direction: rtl;

  align-items: center;

  .status {
    width: 10px;
    height: 100%;
    margin-left: 20px;
    &.confirm {
      background-color: #1ab394;
    }
    &.pending {
      background-color: #ff5733;
    }
  }

  .row {
    width: 100%;
    display: flex;
    height: 100%;
    padding: 6px;
    // justify-content: space-around;
    align-items: center;
  }

  .start-time {
    font-size: 16px;

    margin-left: 20px;


    .sp{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

  .client {
    display: flex;
    align-items: center;
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;

      object-fit: contain;
      margin-left: 10px;
    }
  }

  .actions {
    // width: 60%;
    flex-grow: 1;
    align-self: flex-start;

    height: 100%;

    display: flex;
    justify-content: flex-end;

    align-items: center;

    .btn-ac {
      border-color: #ee0d45d5;
      color: white;
      background-color: #ee0d45d5;

      height: 35px;
      padding: 0 10px;

      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      margin-left: 20px;
    }
  }
}

.indicator{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    .ice{
        display: flex;
        align-items: center;

        margin-left: 20px;

        &.c{
            .col{background-color: #1ab394;}
        }
        &.p{
            .col{background-color: #ff5733;}
        }
        .col{
            width: 24px;
            height: 18px;

            margin-left: 5px;

            border-radius: 50px;
        }
    }
}
