  <div class="main-container flx col">
    <div class="top-bar flx row">
      <div class="tabs-header">
        <div
        class="tab-label"
        (click)="selectTab(item)"
        [class.active]="activeTab === item"
        *ngFor="let item of tabItems$ | async"
        >
        <ng-container *ngIf="item.labelComponent">
          <ng-container *ngTemplateOutlet="item.labelComponent.labelContent">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!item.labelComponent">
          {{ item.label }}
        </ng-container>
      </div>
    </div>
    <div class="actions flx row">
      <ng-container *ngIf="activeTab && activeTab.actionComponent">
        <ng-container *ngTemplateOutlet="activeTab.actionComponent.actionsContent">
        </ng-container>
      </ng-container>
    </div>
  </div>    
    <div class="tabs-body">
    <ng-container *ngIf="activeTab && activeTab.bodyComponent">
      <ng-container *ngTemplateOutlet="activeTab.bodyComponent.bodyContent">
      </ng-container>
    </ng-container>
  </div>
</div>