.top-bar{
  width: 100%;
  height: 100%;
  flex: 10%;
}

.tabs-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 30%;
  flex: 40%;
}

.actions{
  flex: 60%;
  width: 100%;
  height: 100%;
  border: 1px solid brown;
}

.tab-label {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.34px;
  color: #8ca0b3;
  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: #94a7b8;
  color: #ffffff;
}

.tabs-body{
  border: 1px solid green;
  width: 100%;
  height: 90%;
}
