.container {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  direction: rtl;
  align-items: center;

  margin-bottom: 20px;

  .value {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  input {
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;

    &:disabled {
      background-color: transparent;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    .ic {
      width: 21px;
      height: 21px;

      background-color: white;

      -webkit-box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%),
        0 3px 1px -2px transparent, 0 1px 5px 0 rgb(145 145 145 / 12%);
      box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%), 0 3px 1px -2px transparent,
        0 1px 5px 0 rgb(145 145 145 / 12%);

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      margin-right: 10px;

      border-radius: 50%;

      &:hover {
        i {
          color: #ee0d45d5;
        }
      }

      i {
        font-size: 15px;
      }
    }
  }
}
