.container {
  padding: 10px 15px;
  box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%),
    0 3px 1px -2px rgb(255 255 255 / 0%), 0 1px 5px 0 rgb(145 145 145 / 12%);
  background-color: white;
  color: #676a6c;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }

  &.active {
    background-color: #1ab394;
    color: white;
  }

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.row {
  align-items: center;

  &.g {
    flex-grow: 1;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .col {
    width: 100%;

    text-align: right;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  font-weight: bold;
}

.desc {
  font-size: 11px;
}

.dot {
  display: inline-block;
  margin-left: 5px;
}
