.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  object-fit: contain;

  background-color: #ee0d45d5;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #2f4050;

  font-family: "Tajawal", sans-serif;
}

.login-card {
  width: 400px;
  padding: 40px 20px 90px 20px;

  margin-right: 90px;

  background-color: white;
  border-radius: 5px;

  -webkit-box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%),
    0 3px 1px -2px transparent, 0 1px 5px 0 rgb(145 145 145 / 12%);
  box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%), 0 3px 1px -2px transparent,
    0 1px 5px 0 rgb(145 145 145 / 12%);

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: larger;
    font-weight: bolder;

    direction: rtl;
    font-weight: 500;
  }

  .form {
    width: 100%;
    input {
      direction: rtl;
      margin-top: 20px;
    }

    button {
      margin-top: 20px;
      width: 100%;

      background-color: transparent;
      border: none;

      height: 35px;

      cursor: pointer;

      color: white;
      background-color: #2f4050;

      border-radius: 5px;
      border: 1px solid white;

      &.loading {
        background-color: #ee0d45d5;

        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
      }
    }
  }
}
