.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  bottom: 0;
  border-top: 1px solid #f1f1ff;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #f3f3f4;

  &.en {
    font-family: "DM Sans";
  }
  &.ar {
    font-family: "Tajawal", sans-serif;
  }

  .content {
    position: absolute;
    top: 190px;
    overflow-y: auto;

    &.full-width {
      &.ltr {
        left: 220px;
        right: 0;
      }
      &.rtl {
        right: 220px;
        left: 0;
      }
    }

    &.min-width {
      &.ltr {
        left: 70px;
        right: 0;
      }
      &.rtl {
        right: 70px;
        left: 0;
      }
    }
  }
}

::ng-deep {
  button {
    &.ant-btn-primary {
      background-color: #ee0d45d5;
      border-color: #ee0d45d5;
    }
  }
}
