.container {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: row-reverse;
}


.col{
  width: 100%;
  &:first-child{
    margin-left: 20px;
  }

  &.sm{
    width: 70%;
  }
}
.subscriptions {
  width: 100%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    font-size: 14px;
    font-weight: 500;
    font-family: "Tajawal", sans-serif;
  }
}

.group {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  border-radius: 5px;

  .label {
    width: 30%;
    height: 35px;

    background-color: #2f4050;
    color: #ffff;
    font-family: "Tajawal", sans-serif;

    display: flex;
    align-items: center;
    direction: rtl;
    padding: 0 10px;
  }
  .control {
    height: 35px;
    flex-grow: 1;
    border: 1px solid #a7b1c2;

    nz-date-picker {
      width: 100%;
      height: 35px;
    }

    input {
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      direction: rtl;
      padding: 10px;
    }
  }

  .icon {
    height: 35px;
    width: 35px;
    background-color: #2f4050;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Tajawal", sans-serif;

    i {
      color: #fff;
    }
  }
}

.checkbox {
  margin-top: 20px;
  direction: rtl;
}

.rad {
  display: flex;
  // align-items: center;
}

.total-income {
  width: 100%;
}

.rem {
  width: 150px;
  height: 150px;
  padding: 10px;

  border-radius: 50%;



  -webkit-box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%),
    0 3px 1px -2px transparent, 0 1px 5px 0 rgb(145 145 145 / 12%);
  box-shadow: 0 2px 2px 0 rgb(144 144 144 / 14%), 0 3px 1px -2px transparent,
    0 1px 5px 0 rgb(145 145 145 / 12%);

  // border-radius: 5px;
  border: 4px solid ;
  border-style: groove;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // color: white;
  &.total-income {
    border-color: #ffc300;
  }
  &.total-paid {
    border-color: #1ab394;
  }

  &.total-dept {
    border-color: #ee0d45d5;
  }

  .text{
    font-weight: bolder;
  }
}

.row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.revnue {
  margin-bottom: 20px;
}

input[type="radio"]:checked {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: #ee0d45d5;
}
